name: Fork Deploy Caller

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  deploy:
    uses: lemueIO/.github/.github/workflows/central-pages-logic.yml@main
    with:
      publish_dir: '.' # Oder './site', falls die index.html dort liegt
    secrets: inherit
