name: Scheduled Repo Sync

on:
  schedule:
    - cron: '0 0 * * *' # Täglich um Mitternacht
  workflow_dispatch: 

jobs:
  sync_with_upstream:
    runs-on: ubuntu-latest
    name: Sync main with upstream
    
    # HIER DIE LÖSUNG: Wir fordern explizit Schreibrechte für diesen Job an
    permissions:
      contents: write

    steps:
    - name: Checkout target repo
      uses: actions/checkout@v4
      with:
        ref: main
        token: ${{ secrets.GITHUB_TOKEN }}

    - name: Sync Upstream
      uses: aormsby/Fork-Sync-With-Upstream-action@v3.4.1
      with:
        target_repo_token: ${{ secrets.GITHUB_TOKEN }}
        upstream_repository: derlemue/villa-kunterbunt
        upstream_branch: main
        target_branch: main
        test_mode: false
